.contenedor-sim {
    width: 950px;
    height: 600px;
    padding: 50px;
    position: relative;
}

/* Interfaz pasos a seguir */
.pasos {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 302px;
    padding-left: 20px;
    overflow-y: auto;
    border: solid 1px black;
}

/* Interfaz panel de control */
/* Quitar flechas de input number para diferentes navegadores */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
button.btnadd{
    border-radius: 8px;
}
button.btnsub{
    border-radius: 8px;
}
button.btnmode{
  border-radius: 8px;
}

button.fltmode{
    border-radius: 8px;
}

button.anodemode{
    border-radius: 8px;
}
.panel-control {
    position: absolute;
    top: 301px;
    left: 0;
    width: 300px;
    height: 301px;
    overflow-y: hidden;
    border: solid 1px black;
    background-color: #f5f5f5;
    text-align: center;
}

.numeric_input{
  position:absolute; 
  top:50px
}
.mas_input {
  width:50px;
}
.kv_input {
  width:35px;
  margin-left:15px;
}
.mas_label {
  margin-left: 5px;
}
.kv_label {
  margin-left: 5px; 
  margin-right: 12px
}

.modes{
  position:absolute;
  top:105px;
  left:4px;
  width:290px;
  height:90px;
  border-style: solid;
  border-radius:8px;
  border-color: rgb(118,118,118);
}
.modes-left{
  position:absolute;
  top:5px;
  left:5px;
  width:100px;
  height:53px;
  margin-right: 0px;
  margin-left: auto;
}
.modes-center{
  position:absolute;
  top:15px;
  left:98px;
  width:100px;
  height:43px;
  text-align: center;
}
.modes-right{
  position:absolute;
  top:5px;
  left:181px;
  width:100px;
  height:53px;
}
.autokv{
  margin-left:15px;
}
.autotime{
  margin-left:0px;
}
.manual{
  margin-left:-11px;
}
.autopoint{
  margin-left:10px;
}
.filter-mode{
  position:absolute;
  top:210px;
  left:5px;
  width:300px;
  height:53px;
  margin-right: 0px;
}

.anode-mode{
  position:absolute;
  top:250px;
  left:5px;
  width:300px;
  height:30px;
  margin-right: 0px;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color:rgb(0,112,216);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}


/* Interfaz mamografo */
.mamografo {
    position: absolute;
    top: 0;
    left: 299px;
    border: 1px solid black;
}

/* Interfaz herramientas mini */
.herramientas-mini {
    position: absolute;
    top: 0;
    left: 700px;
    width: 302px;
    height: 301px;
    border: 1px solid black;
    text-align: center;
}

.herrams-titulo {
    width: 100%;
}

.herrams-lista {
    width: 100%;
    height:75%;
    overflow-y: auto;
}

.herrams-boton {
    margin: 20px;
    width: 60%;
}

.boton-ver-mas {
    width: 100%;
    height: 38px;
}

/* Interfaz herramientas pop over */
.herramientas-pop {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 100;
    background-color: #ccc;
    width: 1002px;
    height: 602px;
    overflow-y: auto;
    text-align:center;
}

.herrams-salir {
    text-align: left;
}

/* Interfaz resultados */
.resultados {
    position: absolute;
    top: 300px;
    left: 700px;
    border: 1px solid black;
}